
.top-bar .swiper-container-box{
	width:84%!important;
}
.overview .statistic-item .icon {
	margin: 0 30px 0 20px!important;
}
.rich-text-width{
	width:1175px!important;
}

/*大屏*/
.chainArea .loop-img {
    width: 650px!important;
    height: 650px!important;
    top: 40%!important;
}

.process-result{
    top:-90px!important;
}
.process-result>div:nth-child(1){
    font-size:45px!important;
    font-family: 'acens'!important;
    letter-spacing: 14px!important;
}
.process-result>div:nth-child(2){
    margin-top: 0!important;
}
.fire-content{
    top:25%!important;
}
.fire-content .list-content{
    height:80%!important;
}
.process-title{
    width: 92%!important;
    height: 65px!important;
}
.dian{
    top:-12px!important;
}
.process{
    top:-36px!important;
}
.fireLane .alarm-time,.fireLane .dian-alarm-time{
    width:6%!important;
}

.fireLane .mask.one{
    left:14%!important;
}
.fireLane .mask.two{
    left:33%!important;
}
.fireLane .mask.three{
    left:52%!important;
}
.fireLane .mask.four{
    left:71%!important;
}
.fireLane .list-item{
    margin: 20px 0!important;
}
.fireLane .process-result>div:nth-child(1) .num-result{
    letter-spacing: 0px!important;
    font-family:'acens'!important;
}
.defense-screen .bottom{
    padding:0 24px!important;
}
.defense-screen .bottom-item {
    width: 24%!important;
}
.defense-screen .lunbo-top .lunbo-title{
    font-size:20px!important;
    font-weight:bold!important;
}
.defense-screen .bottom .swiper-container{
    padding-top:40px!important;
}
.defense-screen .ips-box{
    top:46%!important;
}
.defense-screen .statistic-box .left{
    width:30%!important;
}
