@charset "utf-8";
@import './border';
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
    margin: 0;
    padding: 0;
}

/* 禁用iPhone中字号调整 */
html {
    text-size-adjust: 100%;

    /* 解决IOS默认滑动很卡的情况  */
    -webkit-overflow-scrolling: touch;

    /* max-width:750PX; */
    width: 100%;
    height: 100%;
}

/* 禁止缩放表单 */
input[type='submit'], input[type='reset'], input[type='button'], input {
    border: none;
    resize: none;
}

/* 加载不出来的图片不要显示灰色边框 */
img:not([src]),img[src=''] {opacity: 0;}

/* 移动端点击a链接出现蓝色背景问题解决 */
a:link,a:active,a:visited,a:hover {
    background: none;
    -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
    -webkit-tap-highlight-color: transparent;
}

/* 设置HTML5元素为块 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    color: #555555;
    background-color: #f7f7f7;
    font: 12px/1.5 'Microsoft YaHei','宋体', Tahoma, Arial, sans-serif;
}
ul,ol,li {
    list-style: none;
}
a {
    font-family: 'Microsoft YaHei', Tahoma, Arial, sans-serif;
    text-decoration: none;
    color: #969696;
}
a:hover {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-family: 'Microsoft YaHei';
}
img {
    border: none;
}
input {
    font-family: 'Microsoft YaHei';
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.clearfix {
    zoom: 1;
}

/* 颜色变量 */

/* 行为相关颜色 */
$uni-color-primary: #007aff;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;
$uni-color-danger: #dd524d;

/* 背景颜色相关设置 */
.bg-primary {
    background-color: $uni-color-primary;
}
.bg-danger {
    background-color: $uni-color-danger;
}
.bg-warning {
    background-color: $uni-color-warning;
}
.bg-success {
    background-color: $uni-color-success;
}

/* 文字基本颜色 */
$uni-text-color:#333333;//基本色
$uni-text-color-inverse:#ffffff;//反色
$uni-text-color-grey:#999999;//辅助灰色，如加载更多的提示信息
$uni-text-color-placeholder: #808080;
$uni-text-color-disable:#c0c0c0;

/* 背景颜色 */
$uni-bg-color:#ffffff;
$uni-bg-color-grey:#f8f8f8;
$uni-bg-color-hover:#f1f1f1;//点击状态颜色
$uni-bg-color-mask:rgb(0 0 0 / 40%);//遮罩颜色

/* 边框颜色 */
$uni-border-color:#c8c7cc;

/* 尺寸变量 */

/* 文字尺寸 */
$uni-font-size-sm:12px;
$uni-font-size-base:14px;
$uni-font-size-lg:16px;

/* 字体大小相关设置 */
.font {
    font-size: $uni-font-size-base;
}
.font-sm {
    font-size: $uni-font-size-sm;
}
.font-lg {
    font-size: $uni-font-size-lg;
}

/* 图片尺寸 */
$uni-img-size-sm:20px;
$uni-img-size-base:26px;
$uni-img-size-lg:40px;

/* Border Radius */
$uni-border-radius-sm: 2px;
$uni-border-radius-base: 3px;
$uni-border-radius-lg: 6px;
$uni-border-radius-circle: 50%;

/* 水平间距 */
$uni-spacing-row-sm: 5px;
$uni-spacing-row-base: 10px;
$uni-spacing-row-lg: 15px;

/* 垂直间距 */
$uni-spacing-col-sm: 4px;
$uni-spacing-col-base: 8px;
$uni-spacing-col-lg: 12px;

/* 透明度 */
$uni-opacity-disabled: 0.3; // 组件禁用态的透明度

/* 文章场景相关 */
$uni-color-title: #2c405a; // 文章标题颜色
$uni-font-size-title:20px;
$uni-color-subtitle: #555555; // 二级标题颜色
$uni-font-size-subtitle:26px;
$uni-color-paragraph: #3f536e; // 文章段落颜色
$uni-font-size-paragraph:15px;
.ub {
    display: flex;
}
.ub-wrap {
    flex-wrap: wrap;
}
.ub-relative {
    position: relative;
}
.ub-absolute {
    position: absolute;
}
.ub-con {
    position: absolute;
    width: 100%;
    height: 100%;
}
.ub-as {
    align-items: flex-start;
}
.ub-ac {
    align-items: center;
}
.ub-ae {
    align-items: flex-end;
}
.ub-ps {
    justify-content: flex-start;
}
.ub-pc {
    justify-content: center;
}
.ub-pe {
    justify-content: flex-end;
}
.ub-pj {
    justify-content: space-between;
}
.ub-ver {
    flex-direction: column;
}
.ub-f1 {
    flex: 1;
}
.ub-f2 {
    flex: 2;
}
.ub-f3 {
    flex: 3;
}
.ub-f4 {
    flex: 4;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.ut-s {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    outline: 0;
}
.ut-m {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    outline: 0;
}

/* 常用 margin 设置 */
.mt-1 {
    margin-top: 10px;
}
.mt-2 {
    margin-top: 20px;
}
.mt-3 {
    margin-top: 30px;
}
.mt-4 {
    margin-top: 40px;
}
.mt-5 {
    margin-top: 50px;
}
.ml-1 {
    margin-left: 10px;
}
.ml-2 {
    margin-left: 20px;
}
.ml-3 {
    margin-left: 30px;
}
.ml-4 {
    margin-left: 40px;
}
.ml-5 {
    margin-left: 50px;
}
.mr-1 {
    margin-right: 10px;
}
.mr-2 {
    margin-right: 20px;
}
.mr-3 {
    margin-right: 30px;
}
.mr-4 {
    margin-right: 40px;
}
.mr-5 {
    margin-right: 50px;
}
.mb-1 {
    margin-bottom: 10px;
}
.mb-2 {
    margin-bottom: 20px;
}
.mb-3 {
    margin-bottom: 30px;
}
.mb-4 {
    margin-bottom: 40px;
}
.mb-5 {
    margin-bottom: 50px;
}
.mx-1 {
    margin: 0 10px;
}
.mx-2 {
    margin: 0 20px;
}
.mx-3 {
    margin: 0 30px;
}
.mx-4 {
    margin: 0 40px;
}
.mx-5 {
    margin: 0 50px;
}
.my-1 {
    margin: 10px 0;
}
.my-2 {
    margin: 20px 0;
}
.my-3 {
    margin: 30px 0;
}
.my-4 {
    margin: 40px 0;
}
.my-5 {
    margin: 50px 0;
}

/* 常用 padding 设置 */
.p {
    padding: 5px;
}
.pt-1 {
    padding-top: 10px;
}
.pt-2 {
    padding-top: 20px;
}
.pt-3 {
    padding-top: 30px;
}
.mt-4 {
    padding-top: 40px;
}
.mt-5 {
    padding-top: 50px;
}
.pl-1 {
    padding-left: 10px;
}
.pl-2 {
    padding-left: 20px;
}
.pl-3 {
    padding-left: 30px;
}
.pl-4 {
    padding-left: 40px;
}
.pl-5 {
    padding-left: 50px;
}
.pr-1 {
    padding-right: 10px;
}
.pr-2 {
    padding-right: 20px;
}
.pr-3 {
    padding-right: 30px;
}
.pr-4 {
    padding-right: 40px;
}
.pr-5 {
    padding-right: 50px;
}
.pb-1 {
    padding-bottom: 10px;
}
.pb-2 {
    padding-bottom: 20px;
}
.pb-3 {
    padding-bottom: 30px;
}
.pb-4 {
    padding-bottom: 40px;
}
.pb-5 {
    padding-bottom: 50px;
}
.px-1 {
    padding: 0 10px;
}
.px-2 {
    padding: 0 20px;
}
.px-3 {
    padding: 0 30px;
}
.px-4 {
    padding: 0 40px;
}
.px-5 {
    padding: 0 50px;
}
.py-1 {
    padding: 10px 0;
}
.py-2 {
    padding: 20px 0;
}
.py-3 {
    padding: 30px 0;
}
.py-4 {
    padding: 40px 0;
}
.py-5 {
    padding: 50px 0;
}
.w100 {
    width: 100%;
}
.h100 {
    height: 100%;
}
.rounded-circle {
    border-radius: 10px;
}


/* 字体颜色相关设置 */
.text-white {
    color: #ffffff;
}
.text-black {
    color: #333333;
}

/* IE盒模型 */
.border-box {
    box-sizing: border-box;
}
.van-overlay.is-pc {
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 100%;
    max-width: 750PX;
    transform: translate(-50%, -50%);
}